.parkDetails
    .mainPicture
        img(src="img/koirapuisto1.jpg")
        .parkDetailsHeading
            h3.center Vallilan koirapuisto


    .parkQuickSummaryWrapper
        .row
            .parkQuickSummarySize.panel
                p Koko
                h4 S
            .parkQuickSummaryCount.panel
                p Koiria päivässä
                h4 ~ 9
            .parkQuickSummaryCount.panel
                p 2h ennuste
                h4 -4 °C #{""}
                    span.fa.fa-sun-o.notify
            .parkQuickSummaryCount.panel
                p Etäisyys
                h4 1304 m
    .row
        .parkDetailsButtonWrapper
            .checkInButton
                button
                    span.fa.fa-bullseye
                    | #{""} Kirjaudu puistoon
            .addToFavoritesButton
                button.secondary
                    span.fa.fa-heart-o
                    | #{""} Lisää suosikiksi

    .mainDetails
        .mainDetailsHeading
            h3 Puistossa tällä hetkellä
        .mainDetailsWrapper
            .row
                .mainDetailsColumn.left
                    img.center(src="img/dogIconSmall.png")
                .mainDetailsColumn.right
                    h4.bonus Pieniä koiria (1)
                    p.secondary 14:30
                        span.strong #{""} Bedro (Mäyräkoira) #{""}
                        span.fa.fa-mars
                    p 13:55
                        span.strong #{""} Anonyymi #{""}
                        span.fa.fa-venus
            .row
                .mainDetailsColumn.left
                    img.center(src="img/dogIcon.png")
                .mainDetailsColumn.right
                    h4.bonus Isoja koiria (0)
                    p -



    .mainDetails.history
        .mainDetailsHeading
            h3 Edelliset kävijät
        .mainDetailsColumn.history
            p 12.12.2015 12:00
            p.strong #{""} Miisu (Puolanvinttikoira) #{""}
                span.fa.fa-venus
            p 11.12.2015 14:24
            p.strong #{""} Seppo (Saksanpaimenkoira) #{""}
                span.fa.fa-mars


    .mainDetails
        .mainDetailsHeading
            h3 Tietoa puistosta
        .mainDetailsWrapper
            p.center Veli kulta, veikkoseni, kaunis kasvinkumppalini! Lähe nyt kanssa laulamahan, saa kera sanelemahan yhtehen yhyttyämme, kahta'alta käytyämme! Harvoin yhtehen yhymme, saamme toinen toisihimme näillä raukoilla rajoilla, poloisilla Pohjan mailla.
            br
            button.secondary Ilmoita virheellisistä tiedoista
